<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>testdb</title>
    <link rel="stylesheet" href="/public/css/style.css" media="all">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>

<body>
    <!-- Шапка -->
    <% include blocks/header.ejs %>

    <!-- Контент -->
    <div class="content">
        <p id="h1-recomended">
            Рекомендации редакции:
        </p>

        <!-- Фильмы -->
        <div class="films"></div>
        <div id="films-more">
        </div>
    </div>

    <!-- Подвал -->
    <% include blocks/footer.ejs %>
    <script src="/js/recomended2.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>