body {margin: 0; padding: 0; background: #f2e5ff}
ul {list-style: none; margin: 0; padding-left: 0}
a {text-decoration: none; color: black}
a:hover {color: rgb(255, 127, 22)}

nav {height: 60px; background: #491277; color: white; font-family: "Anvyl"; position: fixed; top: 0; left: 0; width: 100%; z-index: 999;}
footer { background: #491277; color: white; font-family: "Anvyl";  font-size: 35px; padding: 15px; padding-left: 20%; margin:0; bottom: 0}

ul.menu-main {text-align: center; font-size: 35px; ;padding-top: 10px;  position: relative;}
ul.menu-main > li {display: inline-block; }
#main-li {padding-right: 9%}
#recomended-li {padding-left: 9%}
#recomended-ul {display: none; background: #491277; position: absolute; text-align: left; width: 410px; padding: 17px 0 10px 11px; margin-left: -10px; z-index: 999999;}
#recomended-li:hover #recomended-ul {display: block;}
ul.menu-main a { color: white;}
ul.menu-main a:hover { color: rgb(255, 151, 65)}

#h1-recomended {font-family: "Anvyl"; margin: 0 40px; padding-top: 15px; font-size: 32px}

div.content {width: 60%; margin: 60px auto 0 auto; padding-bottom: 60px; background: white;font-family: "Glober"}

#div-title-genre {
    padding: 5px 20px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#div-viewgenre {Align-self: flex-end}
#genre {font-size: 20px;}
#genreN{font-size: 20px; display: none}
#title_rus {font-size: 30px; font-family: "Glober-bold"}
#title_eng {font-size: 20px;}

div.content img {width: 100%; cursor: pointer;}

.mainflexbox {
    display: flex;
    flex-direction: row;
    width: 100%;
}
div.description-text {padding-left: 20px}
div.description-text .desc {font-size: 22px}
div.description {
    font-size: 20px;
    white-space: nowrap;
    padding-top: 45px;
    padding-right: 20px;
    padding-left: 10px;
}
div.description .leftcol {font-family: "Glober-bold"; vertical-align: top; padding-right: 10px}

.btnflexbox {
    display: flex;
    flex-direction: row;
    Align-items: center;
    margin-bottom: -10px;
    margin-top: 5px;
    padding-right: 20px;
    /*justify-content: space-between;*/
}
#div-like {
    cursor: pointer;
}
#span_like {
    font-size: 20px;
    cursor: pointer;
    padding-left: 5px;
    Align-self: flex-start;
    margin-top: 3px;
}

.likeY {color: rgb(255, 151, 65)}
.likeN {color: rgb(156, 156, 156)}

#divviews {
    color: rgb(156, 156, 156);
    font-size: 20px;
    /*padding-top: 5px;*/
    padding-left: 30%;
    white-space: nowrap;
}


ul.filter-sort {text-align: center; padding-top: 30px; position: relative; font-size: 20px; font-family: "Glober"}
ul.filter-sort > li {display: inline-block; cursor: default; text-align: left; margin-left: 10px; margin-right: 10px}

#search-li {position: relative; top: -8px; display: inline-table}
#IDsearch {margin: 0; border-top-left-radius: 5px; border-bottom-left-radius: 5px; border: none; height: 28px; width: 285px; padding-left: 10px; font-family: "Glober"} 
#btn-search {background: #f2e5ff; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border: none; height: 30px; width: 80px; font-family: "Glober"; font-size: 18px}
#btn-search:focus {
    background: rgb(255, 151, 65);
    outline:none
}
.filt {padding: 10px 25px 2px 25px; border-top-left-radius: 5px; border-top-right-radius: 5px;}
.filt:hover {border-bottom: rgb(255, 151, 65) solid 2px; background-color: white; background: #faf4ff}

.sub {margin-top: 4px; margin-left: -25px; border-top-right-radius: 5px; background-color:  #faf4ff} 
.sub input {cursor: pointer; background: none}
.boxYear {cursor: default}

.subgenres {display: none; ; position: absolute; padding: 10px; }
.genres:hover .subgenres {display: block; }

.subyears {display: none; ; position: absolute; padding: 10px; }
.years:hover .subyears {display: block;}

.boxYear {border: none;width: 30px; height: 10px; text-align: center}
#year1 {float: left}
#year2 {float: right}
#slider-range {margin-top: 30px; width: 400px}

.subcountries {display: none; ; position: absolute;  padding: 10px}
.countries:hover .subcountries {display: block;}

.subsort {display: none; ; position: absolute;  padding: 10px}
.sort:hover .subsort {display: block;}

.btn-color {
    border: none;
    font-size: 18px; font-family: "Glober";
    background: #f2e5ff;
    border-radius: 5px;
    padding: 4px 25px 2px 25px;
    cursor: pointer;
    color: black
}
.btn-color:focus {
    background: rgb(255, 151, 65);
    outline:none
}
.btn-more {margin-top: 10px; padding: 6px 35px 4px 35px}

.films {padding-top: 10px; text-align: center}
#films-more {text-align: center}

.cart {margin: 20px 10px 20px 10px; padding: 0;  display: inline-block; width: 200px; height: 334px}
.cart div {vertical-align: middle; font-family: "Glober"; width: 200px; height: 40px; padding-top: 5px;border-top-left-radius: 10px; border-top-right-radius: 10px; background: #A358E4; }
.title {color:white;  }
.title:hover {color: rgb(255, 151, 65)}
.cart img{width: 200px; height: 295px}

/* наложение */
.img-container {
    max-height: 1080px;
    min-height: 642px;
    width: 100%;
    position: relative;
    background: black;
    margin-top: -10px;
    margin-bottom: 5px;
}
.img-container img {
    position:absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    margin: auto;
}

/* затемнение + блюр */
.img-play-film {
    height: 100%;
    width: 100%;
    filter: blur(1px);
    position: absolute;
    opacity:0.4;
    background-color:#000;
}



    



@font-face {
    font-family: "Handelson-FiveCYR";
    src: url("../fonts/Handelson-FiveCYR.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Handelson-SixCYR";
    src: url("../fonts/Handelson-SixCYR.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Rosengarten-Sans";
    src: url("../fonts/Rosengarten-Sans.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Anvyl";
    src: url("../fonts/ANVYL.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Glober";
    src: url("../fonts/Glober - SemiBold.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Glober-regular";
    src: url("../fonts/Glober - Regular.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Glober-bold";
    src: url("../fonts/Glober - Bold.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}



