<nav>
    <ul class="menu-main">
        <li id="main-li"><a href="/">На главную</a></li>
        <li id="search-li">
            <input type="text" id="IDsearch" placeholder="фильм, актёр, режиссёр" />
            <button id="btn-search">поиск</button>
        </li>
        <li id="recomended-li"><a style="cursor: pointer">Рекомендации</a> 
            <ul id="recomended-ul">
                <li><a href="/recomended1">Рекомендации пользователей</a></li>
                <li><a href="/recomended2">Рекомендации редакции</a></li>
            </ul>
        </li>
    </ul>
</nav>