<nav>
    <ul class="menu-main">
        <li><a href="/">Смотреть</a></li>
        <li><a href="/recomended1">Рекомендации1</a></li>
        <li><a href="/recomended2">Рекомендации2</a></li>
        <li>
            <input type="text" id="IDsearch" placeholder="Поиск" />
            <button id="btn-search">+</button>
        </li>
    </ul>
</nav>