<div class="auth-register">
    <a id="x" href="javascript:PopUpHide()">X</a>
    <div id="auth">
        <ul>
            <li>
                <h3>Вход</h3>
            </li>
            <form>
                <p class="report"></p>
                <li><input type="text" id="login-login" name="login" placeholder="login" /></li>
                <li><input type="text" id="login-password" name="password" placeholder="password" /></li>
                <!--<div class="g-recaptcha" data-sitekey="6LcvVKIUAAAAAJiqhQg9T4w4S1CBBf2KHqBM8rOI"></div>-->
                <li><input style="margin-top: 8px; margin-left: 10px;" type="submit" class="login-button" value="Вход">
                </li>
                <!--<li><button class="login-button">Вход</button></li>-->
            </form>
        </ul>
    </div>
    <div id="center-line"></div>
    <div id="register">
        <ul>
            <li>
                <h3>Регистрация</h3>
            </li>
            <form>
                <li><input type="text" id="register-login" name="login" placeholder="login" /></li>
                <li><input type="text" id="register-password" name="password" placeholder="password" /></li>
                <li><input type="text" id="register-password2" name="password2" placeholder="confirm password" />
                </li>
                <li><input style="margin-top: 8px; margin-left: 10px; border-radius: 5px;" type="submit" class="auth-reg-but register-button"
                        value="Регистрация"></li>
                <!--<li><button class="register-button">Регистрация</button></li>-->
            </form>
        </ul>
    </div>
</div>
<div id="overlay"></div>
<script src="/js/auth.js"></script>
<script src="/js/register.js"></script>